body {
    margin: 0;
    min-height: 100vh;
    background-color: #040200;
    background-image: url("Bosses/bilder/Elden-Ring-Limgrave.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1 {
    font-size: 5em;
    margin-top: 20px;
    color: #6B8E5C ;
    text-align: center;
    font-family: 'Libertinus Serif Display', serif;
}

p {
    font-size: 2em;
    max-width: 1200px;
}


.image-link-container {
    display: flex;
    justify-content: center;
}


a {
    color: #040200;
    text-decoration: none;
    font-size: 30x;
}

header {
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 20px 0 0 0;
    padding: 0
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.2em;
}

