body {
    margin: 0;
    min-height: 100vh;
    background-color: #040200;
    background-image: url("Bosses/bilder/Elden-Ring-Limgrave.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h1 {
    font-size: 5em;
    margin-top: 20px;
    color: #6B8E5C ;
    text-align: center;
    font-family: 'Libertinus Serif Display', serif;
}

p {
    font-size: 2em;
    max-width: 1200px;
}


.image-link-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


a {
    color: #040200;
    text-decoration: none;
    font-size: 40px;
    align-items: center;
}


