body {
background-color: #B89F5B;
}
h1 {
    font-size: 5em;
    margin-top: 20px;
    color: #FFF1E0;
    font-family: 'Libertinus Serif Display', serif;
    text-align: center;
}
        p {
            font-size: 20px;
            margin: 20px auto;
            max-width: 1200px;
        }
.oppsett {
    display: grid;
    grid-template-columns: repeat(6, 1fr)

}
.oppsett div {
    border: solid black 2px;
    padding: 10px;
    text-align: center;
}
.div-0 {
    font-size: 40px;
    grid-column: span 6;
    text-align: center;
}
.div-1 {
    color: #0000;
}
.div-2 {
    color: #0000;
}
.div-3 {
    color: #0000;
    grid-row: span 4;
}
.div-4 {
    color: #0000;
}
.div-5 {
    color: #0000;
}
.div-6 {
    color: #0000;
}
.div-7 {
    color: #0000;
    border-color: tomato;
}
.div-8 {
    color: #0000;
}

.go-back {
    margin-top: 100px;
    font-size: 25px;
    text-align: center;
}