body {
background-color: black;
}
            h1 {
            font-size: 5em;
            margin-top: 20px;
            color: #f9c043;
            font-family: 'Libertinus Serif Display', serif;
            text-align: center;
            }
        p {
            font-size: 20px;
            margin: 20px auto;
            max-width: 1200px;
        }

        .godrick {
            display:flex;
            flex-wrap: nowrap;
            justify-content: start;
        }

        .Godrick-info {
            color:#f9c043;
            max-width: 500px;
            margin-top: 0px;
            border:2px solid white;
            margin-left: auto;
            margin-right: auto;
            padding: 3px;
            text-align: center;
            font-size: 40px;
        }


        .lore {
            color: #f9c043;
            text-align: center;
            margin-top: -400px;
        }



        


        .go-back {
            margin-top: 100px;
            font-size: 25px;
            text-align: center;
        }