body {
background-color: black;
}
            h1 {
            font-size: 5em;
            margin-top: 20px;
            color: #f9c043;
            font-family: 'Libertinus Serif Display', serif;
            text-align: center;
            }
            p {
            font-size: 30px;
            margin: 20px auto;
            max-width: 1200px;
        }

        .overskrift {
            display:flex;
            flex-wrap: nowrap;
            justify-content: start;
        }

        .bosses-info {
            color:#f9c043;
            max-width: 700px;
            margin-top: auto;
            border:2px solid white;
            margin-left: auto;
            margin-right: auto;
            padding: 2px;
            text-align: center;
        }


        .underoverskrift {
            color: #f9c043;
            text-align: center;
            margin-top: -500px;
            margin-left: auto;
            margin-right: auto;
        }

        .go-back {
            margin-top: auto;
            font-size: 25px;
            text-align: center;
        }