body {
background-color: black;
        }
        h1 {
            font-size: 5em;
            margin-top: 20px;
            color: #f9c043;
            font-family: 'Libertinus Serif Display', serif;
            text-align: center;
        }
        p {
            font-size: 2em;
            max-width: 1200px;
            color:#f9c043;

        }
        .bosses {
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            border: 2px solid white;
            padding: 20px;
            gap: 10px;
        }

        .boss-names {
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: nowrap;
            color:#f9c043;
            font-family: 'Libertinus Serif Display', serif;
            border: 2px solid white;
            padding: 10px;
            gap: 100px;
            font-size: 2em;
        }
        



        
        .go-back {
            margin-top: auto;
            font-size: 25px;
            text-align: center;
        }



a {
    color: #f9c043;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: blue;
}

footer {
    margin-top: 200px;
    text-align: center;
    
}