body {
        margin: 0;
    min-height: 100vh;
    background-color: #040200;
    background-image: url("bilder/ekte\ nokron.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

        .oppsett {
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        .oppsett div {
            padding: 10px;
            text-align: center;
        }
        .div-0 {
            grid-column: span 3;
            color: white;
            font-size: 40px;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
            background-color: rgba(0,0,0,0.5);
            border: 3px solid white;
            margin: 20px;
            border-radius: 10px;
        }
        .div-1 {
            color: white;
        }
        .div-2 {
            color: white;
        }
        .div-3 {
            color: white;
        }
        .div-4 {
            color: white;
        }